<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <form id="form">
        <label for="month">Mês</label>
        <input
          required
          type="month"
          id="month"
          name="start"
          min="2024-03"
          value="2025-01"
        />
        <input
          id="names"
          type="text"
          name="names"
          placeholder="Insira um ou mais nomes"
          required
        />
        <p>
          separe os nomes usando vírgulas ex.: eduardo da silva costa, maria
          castro..., ....
        </p>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
  <script src="./app.js"></script>
</html>
